# Database
DATABASE_URL=sqlite:///./loyalty.db

# SMS Service (SMS.ru)
SMS_API_KEY=your_api_key_here
SMS_SENDER_NAME=name_organisation

# Auth Method: ["sms", "call", "check_call"]
AUTH_METHOD=check_call

# True "0000" без отправки, False = реальные SMS
SMS_TEST_MODE=True

# App Settings
DEBUG=True
