# Database
DATABASE_URL=sqlite:///./loyalty.db

# SMS Service (SMS.ru или аналог)
SMS_API_KEY=your_api_key_here
SMS_SENDER_NAME=name_organisation
# SMS_TEST_MODE = код "0000" без отправки, False = реальные SMS
SMS_TEST_MODE=True

# App Settings
DEBUG=True
